/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

/* Header Styles */
.header-container {
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #f8f8f8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    transition: height 300ms ease;
}

.scrolled .header-container {
    height: 70px;
    padding: 0 20px;
}

.nav-bar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.nav-bar img {
    margin-left: 12%;
}

.nav-column {
    display: flex;
    list-style: none;
    width: 45%;
    margin-right: 10%;
}

.nav-column li {
    margin-left: 20px;
}

.nav-column li a {
    margin-top: 31px;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-column a:hover {
    color: #ff9900;
}

.nav-link button {
    padding: 5px 10px;
    border: none;
    background-color: #ff9900;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-link button:hover {
    background-color: #e68a00;
}

/* Carousel Styles */
.carousel-container {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.carousel-slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carousel-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.carousel-caption span {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
}

/* CSS for Animations */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* Apply fade animations to carousel items */
.carousel-item {
    opacity: 0;
    animation: fadeOut 1s forwards;
}

.carousel-item.active {
    opacity: 1;
    animation: fadeIn 1s forwards;
}

/* CSS for smooth transition */
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: absolute;
    width: 100%;
    transition: opacity 1s ease-in-out;
}

/* Fade and Slide Up Animation for h1 */
@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Fade and Slide Up Animation for h2 */
@keyframes fadeInSlideUpDelay {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.carousel-caption h1.animate-h1 {
    animation: fadeInSlideUp 2s ease-out;
}

.carousel-caption h2.animate-h2 {
    animation: fadeInSlideUpDelay 2s ease-out 0.5s; /* Delayed start */
}

/* Arrow styles */
.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: none; /* Hide the icons by default */
}

.carousel:hover .carousel-control-next-icon,
.carousel:hover .carousel-control-prev-icon {
  display: block; /* Show the icons on hover */
}

/* Animation keyframes */
@keyframes floatAnimationBottomToTop {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

@keyframes floatAnimationRightToLeft {
    0% { transform: translateX(0); }
    50% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

/* Apply animation to specific elements inside carousel items */
.carousel-item.active:nth-child(1) img {
    animation: floatAnimationBottomToTop 10s ease-in-out infinite;
}

.carousel-item.active:nth-child(2) img {
    position: relative;
    animation: floatAnimationRightToLeft 10s ease-in-out infinite;
}

/* Slide Text Styles */
.slide-text {
    position: absolute;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    color: #fff;
    z-index: 2;
    letter-spacing: -0.5px;
    padding: 38.4px 0;
    align-items: center;
}

.slide-text p {
    font-size: 24px;
    line-height: 1.5;
    margin-left: 11%;
    margin-bottom: 0;
}

.get-btn {
    color: #212529;
    font: 14px Poppins, Arial, sans-serif;
    background-color: #fff;
    padding: 20px 38.4px;
    margin-left: 25%;
    text-align: center;
    letter-spacing: 2px;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.get-btn:hover {
    background-color: #ff9900;
    color: #f8f8f8;
}

.delayed-animation {
    animation: slideInFromRight 0.5s ease-in-out 1s forwards;
}

@keyframes slideInFromRight {
    from { opacity: 0; transform: translateX(100%); }
    to { opacity: 1; transform: translateX(0); }
}

/* Process Step Styles */
.basic-step {
    background: #f7f7f7;
    border-top: 5px solid #f1f1f1;
    margin: -80px 0;
    padding: 50px 0;
}

.col.text-center {
    margin-top: 20%;
    text-align: center;
}

.text-color-dark.font-weight-bold.text-8 {
    font-size: 2rem;
    margin-top: 1rem;
}

h3 {
    color: #777;
    font-weight: 700 !important;
    line-height: 1 !important;
}

h2 {
    color: #212529 !important;
    font-weight: 700 !important;
}

.process {
    text-align: center;
}

.process-step {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
}

.process-step-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #ff9900;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

.process-step-circle-content img {
    max-width: 100%;
    max-height: 100%;
}

.process-step-content {
    padding: 0 20px;
}

.process-step-content h4 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.process-step-content p {
    font-size: 18px;
    margin-bottom: 0;
}

.horizontal-line {
    border-top: 1px solid #000;
    width: 100%;
}

.nav.nav-tabs {
    display: flex;
    justify-content: center;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.container h2 {
    color: #000;
    font: 49px Arial, Helvetica, sans-serif;
    margin-bottom: 24px;
   
}

.typography-section-copy.text-9 {
    color: #000;
    font: 35px Arial, Helvetica, sans-serif;
    margin: 4px 0 24px;
    line-height: 1.2;
    text-align: left;
}

.text-color-dark.typography-section-copy.text-5-5 {
    color: #212529;
    font-size: 23.1px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    margin: 0 0 20px;
}

hr {
    margin: 5rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: .25;
}

ul.nav.nav-tabs {
    font: 14px Poppins, Arial, sans-serif;
    margin: 0 auto 10px;
    border-top: none;
    width: fit-content;
    display: flex;
    justify-content: center;
    padding: 0;
}

.nav-item .nav-link {
    color: #777;
    font: 16px Arial, Helvetica, sans-serif;
    margin: 0 1px -1px 0;
    padding: 15px 30px;
    border-bottom: 2px solid transparent;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

.nav-item .nav-link.active {
    color: #ff9900;
    border-bottom-color: #ff9900;
}

.nav-item .nav-link:hover {
    color: #ff9900;
    border-bottom-color: #ff9900;
}

.nav-item .nav-link.active:hover {
    color: #777;
}

.tab {
    color: #212529;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.75em !important;
    margin-top: 10px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.social-icons li {
    display: flex;
}

.social-icons li a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons li i {
    margin: 0 10px;
}

.social-icons li a:hover {
    color: #ff9900;
}

.tab-content{
    animation: init 0.5s ease-in-out, move 2s ease-in-out;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .nav-column {
        width: 50%;
    }

    .nav-column li {
        margin-left: 15px;
    }
}

@media (max-width: 992px) {
    .nav-bar img {
        margin-left: 8%;
    }

    .nav-column {
        width: 60%;
        margin-right: 5%;
    }

    .nav-column li {
        margin-left: 10px;
    }
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        height: auto;
    }

    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-bar img {
        margin-left: 0;
    }

    .nav-column {
        width: 100%;
        margin-right: 0;
    }

    .nav-column li {
        margin-left: 0;
        margin-top: 10px;
    }

    .nav-link button {
        margin-top: 10px;
    }

    .slide-text {
        flex-direction: column;
        padding: 20px 0;
    }

    .slide-text p {
        margin-left: 0;
        text-align: center;
    }

    .get-btn {
        margin: 20px 0 0 0;
        width: auto;
    }

    .process-step {
        max-width: 80%;
    }

    .hero-content h1 {
        font-size: 2em;
    }

    .hero-content h2 {
        font-size: 1.5em;
    }
}

@media (max-width: 576px) {
    .header-container {
        padding: 10px;
    }

    .nav-bar {
        align-items: center;
    }

    .nav-column li {
        margin-left: 5px;
        font-size: 14px;
    }

    .nav-link button {
        padding: 5px 8px;
        font-size: 12px;
    }

    .carousel-container {
        height: 400px;
    }

    .slide-text p {
        font-size: 18px;
    }

    .get-btn {
        padding: 10px 20px;
        font-size: 12px;
    }

    .process-step-content h4 {
        font-size: 20px;
    }

    .process-step-content p {
        font-size: 16px;
    }
}
