body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("images/bg.svg");
    /* Specify background size, repeat, and position if needed */
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-position: center; /* Center the background image */
    overflow-x: hidden; 
}


.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.item_extracted{
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    max-width: 1000px; /* Set the same max-width as the .container */
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f0f0f0; /* Light gray background color for even rows */
}

/* Additional styling for odd rows */
tbody tr:nth-child(odd) {
    background-color: #ffffff; /* White background color for odd rows */
}

p {
    margin-bottom: 10px;
}

.edit-button, .print-button, .save-button, .sap-button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease; /* Transition on background color change */
}

.edit-button:hover, .print-button:hover, .save-button:hover, .sap-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

/* Keyframe animation for button click */
@keyframes buttonClick {
    0% {
        transform: scale(1); /* Initial scale */
    }
    50% {
        transform: scale(1.1); /* Scale up by 10% */
    }
    100% {
        transform: scale(1); /* Return to original scale */
    }
}

.edit-button:active, .print-button:active, .save-button:active, .sap-button:active {
    animation: buttonClick 0.3s ease; /* Apply animation on button click */
}

@media print {
    @page {
        size: A4; /* Adjust as needed */
        margin: 0;
    }
    body * {
        visibility: hidden;
    }
    .container, .container * {
        visibility: visible;
    }
    .container {
        position: absolute;
        left: 0;
        top: 0;
    }
}
