/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('https://user.mockplus.com/images/signin-bg.webp') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; 
}

.rightside {
    z-index: 4;
    right: 16.667%;
    position: absolute;
    background: #FFF;
    border-radius: 32px;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.08);
    top: 50%;
    transform: translateY(-50%);
    padding: 64px;
    width: 92%;
    max-width: 488px;
    margin: 0 auto;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    max-width: 100%;
    height: auto;
    margin-top: -21px;
}

.login-container span {
    font-size: 24px;
    margin: 20px 0;
}

.login-container .input {
    width: 100%;
    position: relative;
    margin-top: 14px;
    border-radius: 8px;
    transition: 0.3s;
}

.login-container .input input,
.login-container .input button {
    background: #FFF;
    color: #353030;
    height: 48px;
    padding: 0 16px;
    display: block;
    width: 100%;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: 0.3s;
    font-size: 16px;
    border-color: #FE4066;
    margin-bottom: 40px;
}

.login-container .input button {
    margin-top: 15px;
    border-radius: 6px;
    color: #FFF;
    background: #FE4066;
    transition: 0.3s;
    line-height: 48px;
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 3%;
}
#forgot {
    text-decoration: none; /* Remove the default underline */
    transition: color 0.3s; /* Add transition effect for color change */
    font-size: 14px; /* Set the font size */
    margin-top: -30px; /* Adjust the top margin */
    display: block; /* Display as block to place it below the password input */
    text-align: right; /* Align to the right */
}

#forgot:hover {
    color: #FF7FAB; /* Change link color on hover */
}

.submit a {
    padding: 0 15px;
    font-size: 14px;
    color: #353030;
    transition: 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    text-decoration: none;
    margin-left: 25%;
}

.login-container a:hover {
    color: #FE4066;
}


.sign {
    color: #8C8889;
    font-size: 12px;
    line-height: 22px;
    margin: 16px 0 -16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.sign a {
    color: #FE4066;
}

.text h1 {
    font-size: 32px;
    color: #FFF;
    font-weight: bold;
    line-height: 40px;
    margin: 0;
    margin-left: -66%;
}

.text p {
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
    margin: 14px 0 0;
    max-width: 595px;
    margin-left: -66%;
}

.error {
    color: #FE4066;
    line-height: 16px;
    font-size: 12px;
}

.error-text {
    position: absolute;
    left: 0;
    top: -44px;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
}

#email_error,
#password_error {
    display: none;
}

#footer {
    width: 100%;
    height: 20px;
    font-size: 14px;
    color: #727272;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 20px auto;
    text-align: center;
}

#footer a {
    text-decoration: none;
    color: #727272;
    font-size: 14px;
}

.signup {
    margin-top: 15px;
}

.signup a {
    text-decoration: none;
}

@media (max-width: 768px) {
    .rightside {
        padding: 40px;
        width: 80%;
        max-width: 400px;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
    }

    .login-container span {
        font-size: 20px;
    }

    .login-container .input input,
    .login-container .input button {
        font-size: 14px;
    }

    .submit a {
        margin-left: 0;
    }

    .text h1,
    .text p {
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .rightside {
        padding: 15px;
    }

    .login-container span {
        font-size: 18px;
    }

    .login-container .input input,
    .login-container .input button {
        font-size: 12px;
    }

    .submit a {
        font-size: 12px;
    }

    .sign {
        font-size: 10px;
    }
}
