* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('https://user.mockplus.com/images/signin-bg.webp') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; 
}

.rightside {
    z-index: 4;
    right: 16.667%;
    position: absolute;
    background: #FFF;
    border-radius: 32px;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.08);
    top: 50%;
    transform: translateY(-50%);
    padding: 64px;
    width: 92%;
    max-width: 600px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container span {
    font-size: 24px;
}

.login-container .input,#services {
    width: 100%;
    position: relative;
    margin-top: 14px;
    border-radius: 8px;
    transition: 0.3s;
    
}

.login-container .input input,.sumbit ,#services {
    background: #FFF;
    color: #353030;
    height: 48px;
    padding: 0 16px;
    display: block;
    width: 100%;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: 0.3s;
    font-size: 16px;
    border-color: #FE4066;
    margin-bottom: 5%;
}

.login-container .input button {
    margin-top: -10px;
    border-radius: 6px;
    color: #FFF;
    background: #FE4066;
    transition: 0.3s;
    line-height: 48px;
    text-align: center;
    display: block;
    width: 100%;
} 


.submit-btn {
    background: #FE4066;
    color: #FFF;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.submit-btn:hover {
    background: #E63950;
}
.login-container a:hover {
    color:  #FE4066;
}
.sign{
    color: #8C8889;
    font-size: 12px;
    line-height: 22px;
    margin: 16px 0 -16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.sign a{
    color: #FE4066;
}
.text h1{
    font-size: 32px;
    color: #FFF;
    font-weight: bold;
    line-height: 40px;
    margin: 0;
    margin-left: -66%;
}
.text p{
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
    margin: 14px 0 0;
    max-width: 595px;
    margin-left: -66%;
}
.error{
    color: #FE4066;
    line-height: 16px;
    font-size: 12px;
}
.error-text{
    position: absolute;
    left: 0;
    top: -44px;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
}


/* Style for the hover effect on options */
.input select option:hover {
    background-color: #f0f0f0;
}
@media (max-width: 480px) {
    .rightside {
        padding: 15px;
    }

    .login-container span {
        font-size: 20px;
    }

    .login-container .input input,
    .login-container .input button ,#services {
        font-size: 14px;
    }
}
