<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot password</title>
    <link rel="stylesheet" href="static/forgot-password.css">
    <link rel="shortcut icon" href="https://savictech.com/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="https://savictech.com/img/apple-touch-icon.png">
</head>
<body>
    <div class="rightside">
        <div class="login-container">
            
            <div class="input">
                <div>
                    <input type="text" placeholder="Email Address">
                </div>
                <div>
                    <input type="text" placeholder="Current Password">
                </div>
                <div>
                    <input type="password" placeholder="New Password">
                </div>
                <div>
                    <input type="password" placeholder="Conform Password">
                </div>
                <!-- <div class="error-text">
                    <div class="error">
                        Please enter a valid email address.
                    </div>
                    <div class="error">
                        The password must be between 6-20 characters long.
                    </div>
                </div> -->
                <div class="submit">
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </div>
            </div>
            <div class="backward">
                <a href="login.html"> &#11160; Back to Login</a>
            </div>
        </div>
    </div>
    <div class="text">
        <h1>
            Savic: Design + Collaboration
        </h1>
        <p>
            Savic is a virtual center where designers, developers, and all design parties can perform their duties in unison, achieving results at least 200% faster. Discover a seamless workflow with Savic today.
        </p>
    </div>
    <footer id="footer">
        <span>© 2024, <a href="http://www.savictech.com" target="_blank">savic technologies pvt. ltd.</a> All Rights Reserved.</span>
    </footer>
</body>
</html>
