<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="../static/register.css">
    <link rel="shortcut icon" href="https://savictech.com/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="https://savictech.com/img/apple-touch-icon.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="rightside">
        <div class="login-container">
            <span>Registration Form</span>
            <div class="input">
                <form id="registrationForm">
                    {% csrf_token %}
                    <input type="text" id="name" placeholder="Name" name="name" required><br>
                    <input type="email" id="email" placeholder="Email" name="email" required><br>
                    <input type="text" id="organization" placeholder="Organization" name="organization" required><br>
                    <input type="password" id="password" placeholder="Password" name="password" required><br>
                    <input type="password" id="confirm_password" placeholder="Confirm Password" name="confirm_password" required><br>
                    <button type="submit" class="submit-btn">Submit</button>
                </form>
            </div>
            <div class="sign">
                Already have an account?&nbsp;
                <a href="login.html">Login</a>
            </div>
        </div>
    </div>
 
    <script>
        $(document).ready(function() {
            $('#registrationForm').on('submit', function(event) {
                event.preventDefault(); // Prevent default form submission
 
                var formData = $(this).serialize(); // Serialize form data
 
                $.ajax({
                    type: 'POST',
                    url: '/register/',
                    data: formData,
                    success: function(response) {
                        alert('Registration successful!');
                        window.location.href = "/login.html"; // Redirect to login page
                    },
                    error: function(response) {
                        alert('Registration failed. Please try again.');
                    }
                });
            });
        });
    </script>
</body>
</html>
 