<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Invoice</title>
    <link rel="stylesheet" href="static/upload.css">
    <link rel="stylesheet" href="static/page_load.css">
    <link rel="shortcut icon" href="https://savictech.com/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="https://savictech.com/img/apple-touch-icon.png">
    <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="sidebar close">
        <ul class="nav-links">
          <li>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Hand Written Invoice</a></li>
            </ul>
          </li>
          <li>
            <div class="iocn-link">
              <a href="#">
                <i class='bx bx-collection'></i>
                <span class="link_name">Hand Written Invoice</span>
              </a>
              <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="#"></a></li>
              <li><a onclick="window.location.href='upload.html'">Single Invoice</a></li>
              <li><a href="#">Multi Invoice</a></li>
              <li><a href="#">Folder</a></li>
              <li><a onclick="window.location.href='drop-menu.html'">Dashboard</a></li>
            </ul>
          </li>
          <li>
            <div class="iocn-link">
              <a href="#">
                <i class='bx bx-book-alt'></i>
                <span class="link_name">Scanned Invoice</span>
              </a>
              <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="#"></a></li>
              <li><a onclick="window.location.href='upload.html'">Single Invoice</a></li>
              <li><a onclick="window.location.href='upload.html'">Multi Invoice</a></li>
              <li><a href="#">Folder</a></li>
              <li><a onclick="window.location.href='drop-menu.html'">Dashboard</a></li>
            </ul>
          </li>
        </ul>
      </div>
    
      <section class="home-section">
        <div class="home-content">
          <i class='bx bx-menu'></i>
          <img src="../static/images/savic.png" alt="SAVIC Logo">
        </div>
        <!-- Loading overlay -->
        <div id="processing" style="display: none;" class="loading-overlay"></div>
        <div class="container">
            <form id="uploadForm" method="post" enctype="multipart/form-data" class="upload-form" onsubmit="startLoading()" action="/upload_invoice">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="invoice" class="file-label">Choose PDF Invoice:</label>
                    <input type="file" name="invoice" id="invoice" class="file-input">
                    <button type="button" class="clear-btn" onclick="clearFileInput()">Clear File</button>
                </div>
                <button type="button" class="upload-btn" onclick="uploadInvoice()">Upload Invoice</button> <!-- Change type to button -->
                <a href="#" class="instruction-link" onclick="showInstructions()">Instructions For Uploading Invoice</a>
            </form>
        </div>
    </section>

    <footer id="footer">
        <span>
            © 2024,
            <a href="http://www.savictech.com" target="_blank">savic technologies pvt. ltd.</a>
            All Rights Reserved.
        </span>
    </footer>

    <script>
        function clearFileInput() {
            var input = document.getElementById('invoice');
            input.value = ''; // Clear the input value
        }

        function showInstructions() {
            alert("To upload an invoice, follow these steps:\n\n1. Click on the 'Choose File' button.\n\n2. Browse and select the PDF file of your invoice from your device.\n\n3. Click on the 'Upload' button to submit the invoice.\n\nNote: This uploader only accepts PDF files and is intended for invoice uploads only. Please make sure your file is in PDF format before uploading.");
        }

        function uploadInvoice() {
            var form = document.getElementById('uploadForm');
            var processingDiv = document.getElementById('processing');
            // Show processing animation
            processingDiv.style.display = 'block';
            // Submit the form             
            form.submit();
        }
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
          arrow[i].addEventListener("click", (e) => {
            let arrowParent = e.target.parentElement.parentElement; // selecting main parent of arrow
            arrowParent.classList.toggle("showMenu");
          });
        }
    
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        sidebarBtn.addEventListener("click", () => {
          sidebar.classList.toggle("close");
        });
    
        // Function to close sidebar if clicked outside of it
        document.addEventListener("click", function(e) {
          if (!sidebar.contains(e.target) && !sidebarBtn.contains(e.target)) {
            sidebar.classList.add("close");
          }
        });
    </script>
</body>
</html>
